{% extends "base.html" %}
{% block title %}<title>Contact Us</title>{% endblock %}
{% set active_page = "contact" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Contact Us</h3>
            <div class="container-fluid bg-grey">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Please leave your deatails and we will get back to you as soon as possible.</p>
                        <p><i class="bi bi-geo-fill"></i></span> 21 Madbury Road, Durham, 03824 US</p>
                        <p><i class="bi bi-telephone-fill"></i></span> (605) 475-6968</p>
                        <p><i class="bi bi-envelope-open-fill"></i></span> Coleman.S@CMI.net</p>
                    </div>
                </div>
            </div>
        </div>
        {% if message %}
        <div class="col-sm">
            <p> {{ message }} </p>
        </div>
        {% else %}
        <div class="col-sm">
            <form method="post" action="">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="fname" placeholder="First Name" type="text"
                                required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="lname" placeholder="Last Name" type="text"
                                required>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input class="form-control" id="email" name="eaddress" placeholder="Email" type="email"
                                required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="message" placeholder="Comment"
                        rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-info btn-lg" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}