{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "Directory" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Title/Name</h3>
        <p>CEO: Coleman Stolberg</p>
        <P>CFO: Matt Butler</P>
        <p>CTO: Nick Butler</p>
        <p>COO: Jackson Cosker</p>
      </div>
      <div class="col-sm-4">
        <h3>Email</h3>
        <p>CJS@CMI.com</p>
        <p>M_B@CMI.com</p>
        <p>N_B@CMI.com</p>
        <p>J_C@CMI.com</p>
      </div>
      <div class="col-sm-4">
        <h3>Phone Number & Extension</h3>
        <p>774-876-9800 Ext 112</p>
        <p>774-876-9800 Ext 107</p>
        <p>774-876-9800 Ext 123</p>
        <p>774-876-9800 Ext 119/p>
      </div>
    </div>
  </div>
{% endblock %}