{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "Documents" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Documents</h3>
        <li> 
          <a href="https://docs.google.com/document/d/1PT2THdcJlv8QuMm2P9jdcdgQdztTA7MH/edit?usp=sharing&ouid=106459493313872489651&rtpof=true&sd=true">CMI Bylaws</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1a61FByWtTHD9WYvcWEniwnj-ZIagao53/edit?usp=sharing&ouid=106459493313872489651&rtpof=true&sd=true">CMI NDA Agreement</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1mArAMiZrh9XmSMH1LBUTQ7pJQgFrWA9p/edit?usp=sharing&ouid=106459493313872489651&rtpof=true&sd=true">CMI Meeting Minutes Form</a>
        </li>
        <p>
          
        </p>

    </div>
    

  </div>
</div>
{% endblock %}