{% extends "base.html" %}
{% set active_page = "Home" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>Welcome</h3>

      <p>Your home for the finest modifications to your Chevrolet performance vehicle</p>

      <p>We specialize in the latest from Chevy performance division, including the 6th generation Camaro and the 8th
        generation Corvette, the "C8"</p>
      <p>From a simple audio upgrade to a full active system overhual CMI has all your audio needs covered</p>
      <p>Engine & Susupension upgrades for both vehicles starting from the simple cold air intake up to a full performance overhaul available</p>
      <p>Available advising, parts purchasing, or full build installation services at your disposal</p>
      <h3>About Us</h3>
      <p>Founded in 2016 CMI specializes in making your car dreams a reality. Coleman Stolberg created CMI
        to help those that require anything ranging from advising on decisions to full installations we have your car
        interests covered. Partnered with his orignial business OCC (Optima Car Care) we strive to provide the upmost
        care and support to your pride and joy!</p>
    </div>
    <div class="col-sm-6">

      <h3>News</h3>
      <p>Here's an intriguing rumor: the Camaro ZL1 will get the 6.2-liter supercharged V8 from the Cadillac CT5-V
        Blackwing, according to "a source deep inside GM," speaking to Motor Trend. It will be a final power boost
        for the model before the Camaro exits the Chevy lineup.

        The higher-output version of the LT4 V8 in the CT5-V Blackwing makes a monumental 668 horsepower (498
        kilowatts) and 659 (893 Newton-meters). As a reminder, the ZL1 already has a lesser version of the LT4
        engine that makes 650 hp (485 kW) and 650 lb-ft (881 Nm).</p>
      <p>A recent rumor suggested Chevy canceled plans to build a sixth-gen Camaro Z/28 using the same high-revving
        V8 as the upcoming Corvette Z06. The model was even going to be available with a manual gearbox. However,
        the automaker decided there wasn't enough demand to make the investment.

        We wonder whether this plan to put the more powerful LT4 into the Camaro is a sort of compromise being not
        improving the model until its retirement and investing to engineer a Z/28. Since the engine family isn't
        changing, the cost of upgrading the ZL1 probably isn't as high as creating an all-new variant of the
        vehicle.

        There's also a rumor about the Camaro coming back as a very different vehicle after the current one goes
        away. The model could transform into an electric performance sedan.</p>
    </div>
    
  </div>
</div>
{% endblock %}