{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Stats</h3>

          <p> ZL1 1LE EXTREME TRACK PERFORMANCE PACKAGE</p>

          <p>Available on ZL1</p>
          <p>6.2L supercharged V8 engine with 650 horsepower and 650 lb.-ft. of torque</p>
          <p>6-speed manual transmission with Active Rev Matching</p>
          <p>Available paddle-shift 10-speed automatic transmission</p>
          <p>19-inch low gloss Black-painted forged-aluminum wheels</p>
          <p>Brembo 6-piston front and 4-piston rear Red-painted brake calipers</p>
          <p>Available new Performance copper-free brake system</p>
          <p>Satin Black hood wrap</p>
          <p>Low-gloss Black outside rearview mirrors</p>
          <p>Unique front splitter</p>
          <p>Exposed-weave carbon-fiber hood insert and rear wing</p>

        </div>
        <div class="col-sm-6">

          <h3>News</h3>
          <p>Here's an intriguing rumor: the Camaro ZL1 will get the 6.2-liter supercharged V8 from the Cadillac CT5-V
            Blackwing, according to "a source deep inside GM," speaking to Motor Trend. It will be a final power boost
            for the model before the Camaro exits the Chevy lineup.

            The higher-output version of the LT4 V8 in the CT5-V Blackwing makes a monumental 668 horsepower (498
            kilowatts) and 659 (893 Newton-meters). As a reminder, the ZL1 already has a lesser version of the LT4
            engine that makes 650 hp (485 kW) and 650 lb-ft (881 Nm).</p>
          <p>A recent rumor suggested Chevy canceled plans to build a sixth-gen Camaro Z/28 using the same high-revving
            V8 as the upcoming Corvette Z06. The model was even going to be available with a manual gearbox. However,
            the automaker decided there wasn't enough demand to make the investment.

            We wonder whether this plan to put the more powerful LT4 into the Camaro is a sort of compromise being not
            improving the model until its retirement and investing to engineer a Z/28. Since the engine family isn't
            changing, the cost of upgrading the ZL1 probably isn't as high as creating an all-new variant of the
            vehicle.

            There's also a rumor about the Camaro coming back as a very different vehicle after the current one goes
            away. The model could transform into an electric performance sedan.</p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
      </div>
    </div>
  </div>
{% endblock %}